<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rm.easy.crm">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="RMCafe"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".UserLogin"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".client.CreateClient"
                android:label="@string/title_activity_create_client"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".client.SelectClient"
                android:label="SelectClient"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".warehouse.CreateItem"
                android:label="CreateItem"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".warehouse.AddItem">
        </activity>
        <activity android:name=".adapter.SelectInventoryAdapter">
        </activity>
        <activity android:name=".warehouse.SelectWarehouse">
        </activity>
    </application>

</manifest>